.hero {
   /* background: url('../img/laundry.jpg'); */
   background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/laundry.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100vh;
}

.logo {
    color: #36454F;
    font-size: 25px;
    font-weight: bolder;
}

nav {
    background-color: #fff;
}

.navmenu li a {
    color: #36454F;
    font-size: 20px;
    font-weight: normal;
}

.text-center h1 {
    padding-top: 30%;
}

.feature {
    background-color: #F0F0F0;
}

.feature h1 {
    color: #36454F;
}

.feat_row {
    gap: 15px;
}

.feat_col {
    border-radius: 10px;
}